<%
  breadcrumb Club.model_name.human(count: 2) => clubs_path, @club.name => nil
%>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md'>
        <%= detail_view_list @club, :name %>
      </div>
      <div class='col-md'>
        <% @club.activity_clubs.each do |activity_club| %>
          <span class='badge badge-secondary'>
            <%= activity_club.activity.name %>
          </span>
        <% end %>
        <%= render 'links/list', item: @club %>
      </div>
    </div>
  </div>
</div>
<div class='mt-2'>
  <h3 class='float-left'><%= Happening.model_name.human(count: 2) %></h3>
  <%= @datatable.render_html search_happenings_club_path(@club, format: :json) %>
</div>
