<%
  breadcrumb Club.model_name.human(count: 2) => clubs_path, @club.name => nil
%>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md'>
        <%= detail_view_list @club, *Club::FIELDS.reject {|f| f.to_s.starts_with?'visible_' }, skip_blank: :all %>
        <div class=''>
          <h2><%= Activity.model_name.human(count: 2) %></h2>
          <% @club.activity_clubs.each do |activity_club| %>
            <span class='badge badge-secondary'>
              <%= activity_club.activity.name %>
            </span>
          <% end %>
          <h2><%= Link.model_name.human(count: 2) %></h2>
          <% @club.links.each do |link| %>
            <%= link.kind %>
            <%= link_to link.url, link.url %>
            <% if current_user&.superadmin? %>
              <%= link_to link_path(link), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(link.url), title: t_crud('delete', Link) do %>
                <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user&.superadmin? %>
            <div class=''>
              <%= button_tag_open_modal new_club_link_path(@club)  do %>
                <i class="demo-icon icon-plus" aria-hidden="true"></i>
                <%= t_crud('add_new', Link) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='col-md'>
        <div class='map map--300px'
             data-controller='google-map'
             data-google-map-latitude='<%= @club.venue.latitude %>'
             data-google-map-longitude='<%= @club.venue.longitude %>'
             data-action='google-map-callback@window->google-map#initMap'
             >
        </div>
      </div>
    </div>
  </div>
</div>
<div class=''>
  <%= @datatable.render_html search_happenings_club_path(@club, format: :json) %>
</div>
