<div id='remote-form'>
  <%= bootstrap_form_for @happening, url: happening_path(@happening), remote: true, layout: :horizontal do |f| %>
    <div class='row'>
      <div class='col-sm'>
        <%= f.text_field :name %>
        <%= f.date_field :start_date, help: !f.object.multi_day? && add_alternative_helper(Happening.human_attribute_name(:end_date), '#end_date') %>
        <div id='end_date' class='<%= 'd-none-display-block' unless f.object.multi_day? %>'>
          <%= f.date_field :end_date %>
        </div>
        <%= f.text_area :description %>
        <%= f.select :secondary_club_id, options_from_collection_for_select(Club.all, :id, :name, f.object.secondary_club_id), prompt: true %>
      </div>
      <div class='col-sm'>
        <%= render 'venues/existing_or_new', f: f %>
      </div>
    </div>
    <div class='remote-form__actions'>
      <%= link_to admin_happening_path(@happening), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@happening.name), title: t_crud('delete', Happening) do %>
        <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
      <% end %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
