<div id='remote-form'>
  <%= bootstrap_form_for @happening, url: happenings_path, remote: true, layout: :horizontal do |f| %>
    <div class='row'>
      <div class='col-sm'>
        <%= render 'clubs/existing_or_new', f: f %>
        <%# f.object.links.build %>
        <%= f.fields_for :links, layout: :inline do |ff| %>
          <div class='row'>
            <div class='col-4'>
              <%= ff.select :kind, Link.kinds.keys.map { |k| [Link.human_enum_name(:kind, k),k] }, skip_label: true %>
            </div>
            <div class='col-8'>
              <%= ff.text_field :url, placeholder: 'https://...', skip_label: true %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='col-sm'>
        <%= render 'venues/existing_or_new', f: f %>
      </div>
      <div class='col-sm'>
        <%= f.text_field :name %>
        <%= f.date_field :start_date, help: !f.object.multi_day? && add_alternative_helper(Happening.human_attribute_name(:end_date), '#end_date') %>
        <div id='end_date' class='<%= 'd-none-display-block' unless f.object.multi_day? %>'>
          <%= f.date_field :end_date %>
        </div>
        <%= f.text_area :description %>
        <%= f.fields_for :discipline_happenings do |ff| %>
          <%= render 'disciplines/existing_or_new', f: ff %>
          <%= ff.text_field :name %>
          <%= ff.text_field :distance_m %>
        <% end %>
        <%= f.submit class: 'btn btn-primary float-right'%>
      </div>
    </div>
    <div class='remote-form__actions'>
    </div>
  <% end %>
</div>
