<%
  no_cache
  breadcrumb Happening.model_name.human(count: 2) => nil
%>

<h4 class='d-inline pr-2'><%= t('happenings_for_disciplines') %></h4>
<% @datatable.disciplines.each do |discipline| %>
  <span class='show-on-hover'>
    <span class='badge badge-primary pl-4'>
      <%= discipline.name %>
      <% remove_path = index_for_disciplines_happenings_path(params.merge(discipline_ids: (params[:discipline_ids] || []) - [discipline.id])) %>
      <%= link_to remove_path do %>
        <i class='demo-icon icon-cancel show-on-hover-target btn-danger' title='<%= t_crud('drop', Discipline) %>'></i>
      <% end %>
    </span>
  </span>
<% end %>
<div class='dropdown d-inline'>
  <a class='btn btn-se dropdown-toggle' href='#' role='button' id='dropdownAddActivity' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
    <%= t('add_item_name', item_name: Discipline.model_name.human(count: 2)) %>
  </a>
  <div class='dropdown-menu' aria-labelledby='dropdownAddActivity'>
    <% %i[similar_disciplines consists_of_and_used_in_disciplines].each_with_index do |filter, i| %>
      <% @datatable.send(filter).each do |discipline| %>
        <% add_path = index_for_disciplines_happenings_path(params.except(:controller, :action, :commit).merge(discipline_ids: (params[:discipline_ids] || []) + [discipline.id])) %>
        <%= link_to discipline.name, add_path, class:'dropdown-item' %>
      <% end %>
      <% if i < 1 %>
        <div class="dropdown-divider"></div>
      <% end %>
    <% end %>
  </div>
</div>

<%= @datatable.render_html search_for_disciplines_happenings_path(discipline_ids: params[:discipline_ids], format: :json) %>
