<%
  breadcrumb Happening.model_name.human(count: 2) => happenings_path(search_happenings: { activity_id: '' }), @happening.name => nil
%>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mb-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_top') %></h2>
      <p>
        <%= t('ad_on_top_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col'>
        <%= detail_view_list @happening, *(Happening::FIELDS - %i[end_date recurrence]), skip_blank: :all %>
        <%= detail_view_list do %>
          <% if @happening.end_date != @happening.start_date %>
            <%= detail_view_one Happening.human_attribute_name(:end_date), @happening.end_date %>
          <% end %>
        <% end %>
        <% if @happening.club.venue == @happening.venue %>
          <%= detail_view_list do %>
            <%= detail_view_one Happening.human_attribute_name(:club) + ' & ' + Happening.human_attribute_name(:venue), link_to(@happening.club.name, club_path(@happening.club)) %>
          <% end %>
        <% else %>
          <%= detail_view_list do %>
            <%= detail_view_one Happening.human_attribute_name(:club), link_to(@happening.club.name, club_path(@happening.club)) %>
            <%= detail_view_one Happening.human_attribute_name(:venue), link_to(@happening.venue.name, venue_path(@happening.venue)) %>
          <% end %>
        <% end %>
        <%= detail_view_list do %>
          <% if @happening.recurrence.present? %>
            <%= detail_view_one Happening.human_attribute_name(:recurrence), @happening.recurrence.to_s %>
          <% end %>
        <% end %>
      </div>
      <div class='col'>
        <%= render 'links/list', item: @happening %>
      </div>
    </div>
  </div>
</div>
<div class='mt-2'>
  <h3 class=''><%= Discipline.model_name.human(count: @happening.discipline_happenings.size) %></h3>
</div>
<div class='card mt-2'>
  <div class='card-body'>
    <% @happening.discipline_happenings.each do |discipline_happening| %>
      <%= discipline_happening.start_time.to_s %>
      <%= discipline_happening.full_name %>
      <br>
      <% discipline_happening.discipline_happening_tags.each do |discipline_happening_tag| %>
        <span class='badge badge-primary'><%= discipline_happening_tag.tag.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mt-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_bottom') %></h2>
      <p>
        <%= t('ad_on_bottom_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
