<%
  breadcrumb Happening.model_name.human(count: 2) => happenings_path(search_happenings: { activity_id: '' }), @happening.name => nil
%>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mb-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_top') %></h2>
      <p>
        <%= t('ad_on_top_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
<div class='card'>
  <div class='card-body'>
    <% if current_user.present? && allowed_to?(:update?, @happening) %>
      <%= button_tag_open_modal edit_happening_path(@happening), title: t_crud('edit', Happening), pull_right: true %>
    <% end %>
    <div class='row'>
      <div class='col-md-4'>
        <%= detail_view_list @happening, :name, :description, skip_blank: :all %>
          <%= detail_view_list do %>
            <%= detail_view_one Happening.human_attribute_name(:start_date), @happening.start_date_and_end_date_string %>
          <% end %>
        <% if @happening.club.venue == @happening.venue %>
          <%= detail_view_list do %>
            <%= detail_view_one Happening.human_attribute_name(:club) + ' & ' + Happening.human_attribute_name(:venue), link_to(@happening.club.name, club_path(@happening.club)) %>
          <% end %>
        <% else %>
          <%= detail_view_list do %>
            <%= detail_view_one Happening.human_attribute_name(:club), link_to(@happening.club.name, club_path(@happening.club)) %>
            <%= detail_view_one Happening.human_attribute_name(:venue), link_to(@happening.venue.name, venue_path(@happening.venue)) %>
          <% end %>
        <% end %>
        <%# <%= detail_view_list do %1> %>
        <%#   <% if @happening.recurrence.present? %1> %>
        <%#     <%= detail_view_one Happening.human_attribute_name(:recurrence), @happening.recurrence.to_s %1> %>
        <%#   <% end %1> %>
        <%# <% end %1> %>
      </div>
      <div class='col-md-8'>
        <%= render 'links/list', item: @happening %>
        <% if @happening.secondary_club.present? %>
          <%= link_to @happening.secondary_club.name, club_path(@happening.secondary_club) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='mt-2'>
  <% unless @happening.multi_discipline? || @happening.disciplines.blank? %>
    <%= happenings_for_discipline_badge_link @happening.disciplines.last, class: 'float-right' %>
  <% end %>
  <strong class=''>
    <%= Discipline.model_name.human(count: @happening.discipline_happenings.size) %>
  </strong>
  <% if current_user.present? && allowed_to?(:update?, @happening) %>
    <%= button_tag_open_modal new_happening_discipline_happening_path(@happening) do %>
      <i class="demo-icon icon-plus" aria-hidden="true"></i>
      <%= t_crud('add_new', DisciplineHappening) %>
    <% end %>
  <% end %>
</div>
<div class='card mt-2'>
  <div class='card-body' <%= "data-controller='sortable'" if current_user.present? && allowed_to?(:update?, @happening) %>  data-sortable-resource-name-value='discipline_happening'>
    <% @happening.discipline_happenings.each do |discipline_happening| %>
      <div class='' data-sortable-update-url="<%= discipline_happening_path(discipline_happening) %>" data-sortable-resource-name-value='not_important'>
        <% if discipline_happening.start_time.present? && discipline_happening.start_time != @happening.start_date.to_datetime %>
          <% if discipline_happening.start_time.to_date != @happening.start_date %>
            <%= I18n.l discipline_happening.start_time, format: :only_time %>
          <% else %>
            <%= I18n.l discipline_happening.start_time, format: :day_month_and_time %>
          <% end %>
        <% end %>
        <%= discipline_happening.full_name %>
        <% if @happening.multi_discipline? %>
          <%= happenings_for_discipline_badge_link discipline_happening.discipline, class: 'float-right' %>
        <% end %>
        <% discipline_happening.discipline_happening_tags.each do |discipline_happening_tag| %>
          <span class='badge badge-success'><%= discipline_happening_tag.tag.name %></span>
        <% end %>
        <% if current_user.present? && allowed_to?(:update?, @happening) %>
          <%= button_tag_open_modal edit_discipline_happening_path(discipline_happening), title: t_crud('edit', DisciplineHappening), 'data-test': "edit-discipline-happening-#{discipline_happening.id}" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mt-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_bottom') %></h2>
      <p>
        <%= t('ad_on_bottom_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
