<%
  breadcrumb t('dashboard') => nil
%>
<div class='card'>
  <div class='card-body'>
    <h5 class='card-title'><%= Todo.model_name.human size: 2 %></h5>
  </div>
</div>
<ul>
  <li>
    <%= link_to 'sample-error', sample_error_path %>
  </li>
  <li>
    <%= link_to 'sample-error-in-javascript', sample_error_in_javascript_path %>
  </li>
  <li>
    <%= link_to 'sample-error-in-sidekiq', sample_error_in_sidekiq_path %>
  </li>
  <li>
    <%= link_to 'sidekiq', sidekiq_web_path %>
  </li>
</ul>
