<div id='remote-form'>
  <%= bootstrap_form_for current_user, url: update_password_my_account_path, remote: true, layout: :horizontal do |f| %>
    <%= f.password_field :password, autocomplete: 'off', required: true, autofocus: true %>
    <em><%= t 'my_devise.characters_minimum', count: User.password_length.min %></em>

    <%= f.password_field :password_confirmation, autocomplete: 'off', required: true %>

    <%= f.password_field :current_password, autocomplete: 'off', required: true %>
    <i>(<%= t 'my_devise.we_need_your_current_password_to_confirm_your_changes' %>)</i><br>
    <div class='remote-form__actions'>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
