<%
    breadcrumb
%>
<div class=''>
  <div class='text-center mt-2'>
    <h4>
      <%= t('we_are_informative_portal') %>
    </h4>
    <h2>
      <%= t('where_are_you_going_on_the_weekend') %>
    </h2>
  </div>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4'>
      <p class='text-center'><%= t('choose_place_and_activity') %></p>

      <%= bootstrap_form_with url: index_for_location_and_activities_happenings_path, method: :get, local: true do |f| %>
        <%
          all_cities = Venue.cities.select(
            <<~SQL
              venues.*,
              (
                SELECT COUNT(happenings.id) FROM happenings
                WHERE venue_id = venues.id
              ) AS happening_count
            SQL
          ).order(happening_count: :desc)
          all_activities = Activity.all
        %>
        <%= f.select :venue_id, options_from_collection_for_select(all_cities, :id, :name, all_cities.first&.id), { label: Venue.human_attribute_name(:city) }, required: true, 'data-select2-initialize': true %>
        <%= f.select 'activity_names[]', options_from_collection_for_select(all_activities, :name, :name, all_activities.first&.name), { label: Activity.model_name.human }, required: true, 'data-select2-initializ': true %>
        <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-6'>
    <h3>
      <%= t('latest_added_happenings') %>
    </h3>
    <% Happening.order(created_at: :asc).last(5).each do |happening| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <div class='float-right'><%= happening.venue.name %>, <%= I18n.l happening.start_date, format: :long_with_week %></div>
          <h5 class='card-title'><%= happening.name %></h5>
          <%= link_to t('read_more'), happening, class: 'card-link float-right' %>
          <p class='card-text'>
            <% happening.discipline_happenings.each do |discipline_happening| %>
              <%= discipline_happening.full_name %>
              <br>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class='col-md-6'>
    <h3>
      <%= t('latest_added_disciplines') %>
    </h3>
    <% Discipline.order(created_at: :asc).last(5).each do |discipline| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <h5 class='card-title'><%= discipline.name %></h5>
          <h6>
            <% discipline.activities.each do |activity| %>
              <%= activity.name %>
            <% end %>
          </h6>
          <p class='card-text'>
            <% discipline.happenings.uniq.each do |happening| %>
              <%= link_to happening.name, happening, class: 'card-link' %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
