<%
  breadcrumb
  running_activity = Activity.find_by('name @> ?', {'sr-latin': 'TrÄanje'}.to_json)
%>
<div class='text-center'>
  <p class='mt-2'>
    <%= t('we_are_informative_portal') %>
  </p>
  <h5>
    <%= t('what_will_you_do_on_the_weekend') %>
  </h5>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4' data-controller='activate' data-activate-selector='.discipline-tags'>
      <p><%= t('choose_activity') %></p>
      <div class='form-inline'>
        <%= select_tag 'activity_names[]', options_from_collection_for_select(Activity.all, :id, :name, running_activity&.name), class: 'form-control mx-auto', 'data-action': 'activate#enableDisableForValue' %>
      </div>
      <p class='mt-2'>
        <% Discipline.all.each do |discipline| %>
          <span data-activate-value='<%= discipline.activities.map(&:id).join(',') %>' class='d-none-display-inline <%= 'active' if discipline.activities.include? running_activity %> discipline-tags'>
            <%= index_for_disciplines_badge_link discipline %>
          </span>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class='row mt-2'>
  <div class='col-md-6 mt-2'>
    <h3>
      <%= t('latest_added_disciplines') %>
    </h3>
    <% Discipline.order(created_at: :asc).last(5).each do |discipline| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <h5 class='card-title'><%= index_for_disciplines_badge_link discipline %></h5>
          <h6>
            <% discipline.activities.each do |activity| %>
              <%= activity.name %>
            <% end %>
          </h6>
          <p class='card-text'>
            <% discipline.happenings.limit(5).uniq.each do |happening| %>
              <%= link_to happening.name, happening, class: 'card-link' %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class='col-md-6 mt-2'>
    <h3>
      <%= t('upcomming_events') %>
    </h3>
    <% Happening.where('start_date >= ?', Time.zone.today).order(start_date: :asc).limit(5).each do |happening| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <div class='float-right'><%= happening.venue.name %>, <%= I18n.l happening.start_date, format: :long_with_week %></div>
          <h5 class='card-title'><%= happening.name %></h5>
          <%= link_to t('read_more'), happening, class: 'card-link float-right' %>
          <p class='card-text'>
            <% happening.discipline_happenings.limit(5).each do |discipline_happening| %>
              <%= discipline_happening.full_name %>
              <br>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
