<%
    breadcrumb
%>
<div class=''>
  <div class='text-center mt-2'>
    <h2>
      <%= t('where_are_you_going_on_the_weekend') %>
    </h2>
  </div>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4'>
      <p><%= t('choose_place_and_activity') %></p>

      <%= bootstrap_form_for @search_happenings, url: happenings_path, method: :get do |f| %>
        <%= f.select :venue_id, "<option #{ "selected='selected'".html_safe unless f.object.activity_id } disabled='disabled'>#{t('please_select_item_name', item_name: Venue.human_attribute_name(:city))}</option>".html_safe + options_from_collection_for_select(f.object.all_cities, :id, :name), { hide_label: true }, required: true %>
        <%= f.select :activity_id, "<option #{ "selected='selected'".html_safe unless f.object.activity_id } disabled='disabled'>#{t('please_select_item_name', item_name: Activity.model_name.human)}</option>".html_safe + options_from_collection_for_select(f.object.all_activities, :id, :name), { hide_label: true }, required: true %>
        <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>
