<%
  login_layout t('where_are_you_going_on_the_weekend')
%>
<div class='container'>
  <p><%= t('choose_place_and_activity') %></p>

  <%= bootstrap_form_for @search_happenings, url: root_path do |f| %>
    <%= f.select :city_name, "<option #{ "selected='selected'".html_safe unless f.object.activity_id } disabled='disabled'>#{t('please_select')}</option>".html_safe + options_for_select(f.object.all_cities), hide_label: true %>
    <%= f.select :activity_id, "<option #{ "selected='selected'".html_safe unless f.object.activity_id } disabled='disabled'>#{t('please_select')}</option>".html_safe + options_from_collection_for_select(f.object.all_activities, :id, :name), hide_label: true %>
    <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
  <% end %>
</div>
