<%
    breadcrumb
%>
<div class='text-center'>
  <p class='mt-2'>
    <%= t('we_are_informative_portal') %>
  </p>
  <h5>
    <%= t('what_will_you_do_on_the_weekend') %>
  </h5>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4'>
      <p><%= t('choose_activity') %></p>

      <%= bootstrap_form_with url: index_for_activities_happenings_path, method: :get, local: true do |f| %>
        <%= f.select 'activity_names[]', options_from_collection_for_select(Activity.all, :name, :name, Activity.find_by('name @> ?', {'sr-latin': 'Trčanje'}.to_json)&.name), { skip_label: true }, required: true, 'data-select2-initializ': true %>
        <%= f.hidden_field :future_events, value: true %>
        <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
  <p class='mt-2'>
    <%= t('or') %>
  </p>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4'>
      <p><%= t('choose_equipment_you_want_to_use') %></p>

      <%= bootstrap_form_with url: index_for_activities_happenings_path, method: :get, local: true do |f| %>
        <%= f.select 'activity_names[]', options_from_collection_for_select(Activity.all, :name, :name, Activity.find_by('name @> ?', {'sr-latin': 'Trčanje'}.to_json)&.name), { skip_label: true }, required: true, 'data-select2-initializ': true %>
        <%= f.hidden_field :future_events, value: true %>
        <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>

</div>
<div class='row mt-2'>
  <div class='col-md-6 mt-2'>
    <h3>
      <%= t('latest_added_disciplines') %>
    </h3>
    <% Discipline.order(created_at: :asc).last(5).each do |discipline| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <h5 class='card-title'><%= index_for_disciplines_badge_link discipline %></h5>
          <h6>
            <% discipline.activities.each do |activity| %>
              <%= activity.name %>
            <% end %>
          </h6>
          <p class='card-text'>
            <% discipline.happenings.limit(5).uniq.each do |happening| %>
              <%= link_to happening.name, happening, class: 'card-link' %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class='col-md-6 mt-2'>
    <h3>
      <%= t('upcomming_events') %>
    </h3>
    <% Happening.where('start_date >= ?', Time.zone.today).order(start_date: :asc).limit(5).each do |happening| %>
      <div class='card mt-2'>
        <div class='card-body'>
          <div class='float-right'><%= happening.venue.name %>, <%= I18n.l happening.start_date, format: :long_with_week %></div>
          <h5 class='card-title'><%= happening.name %></h5>
          <%= link_to t('read_more'), happening, class: 'card-link float-right' %>
          <p class='card-text'>
            <% happening.discipline_happenings.limit(5).each do |discipline_happening| %>
              <%= discipline_happening.full_name %>
              <br>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
