<div id='remote-form'>
  <%= bootstrap_form_for @recurrence_form, url: update_recurrence_admin_happening_path(@happening), remote: true, layout: :horizontal, method: :patch do |f| %>
    <div class='row'>
      <div class='col-sm'>
        <%= f.select :every, t('recurrences_every').invert %>
        <%= f.select :day, t('date.day_names').map.with_index.map { |d, i| [d, i] }, {}, multiple: true %>
        <%= f.select :month, t('date.month_names').map.with_index.map { |d, i| [d, i] } %>
      </div>
      <div class='col-sm'>
        <%= f.text_field :custom_name, placeholder: "{{number}} some_name" %>
        <%= f.number_field :total %>
        <%= f.number_field :start_number %>
        <% if f.object.all_existing_events_except_self.present? %>
          <%= f.form_group label: { text: t('activemodel.attributes.recurrence_form.existing_update') } do %>
            <%= f.radio_button :existing_update, :future, label: t('activemodel.attributes.recurrence_form.future'), inline: true %>
            <%= f.radio_button :existing_update, :all, label: t('activemodel.attributes.recurrence_form.all'), inline: true %>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr>
    <%= render 'recurrence_preview' %>
    <div class='remote-form__actions'>
      <%= f.button t('show'), value: 'preview', class: 'btn btn-success'%>
      <%= f.submit t('create'), class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
