<%
  breadcrumb Discipline.model_name.human(count: 2) => admin_disciplines_path, @discipline.name => nil
%>
<div class='card'>
  <div class='card-body'>
    <%= button_tag_open_modal edit_admin_discipline_path(@discipline), title: t_crud('edit', Discipline), pull_right: true %>
    <div class='row'>
      <div class='col'>
        <%= detail_view_list @discipline, *(Discipline::FIELDS.select {|k| k.is_a? Symbol}) %>
        <% @discipline.activities.each do |activity| %>
          <%= link_to activity.name, activity_path(activity) %>
        <% end %>
      </div>
      <div class='col'>
        <%= render 'links/list', item: @discipline %>
      </div>
    </div>
  </div>
</div>
<%= button_tag_open_modal new_admin_discipline_discipline_requirement_path(@discipline) do %>
  <i class="demo-icon icon-plus" aria-hidden="true"></i>
  <%= t_crud('add_new', DisciplineRequirement) %>
<% end %>
<div class='card-deck'>
  <% @discipline.discipline_requirements.each do |discipline_requirement| %>
    <div class='card card--text mb-4'>
      <div class='card-body'>
        <%= button_to 'X', admin_discipline_requirement_path(discipline_requirement), class: 'btn btn-sm btn-outline-danger btn--no-padding px-1 edit-button', title: t_crud('delete', DisciplineRequirement), method: :delete, 'data-confirm': t('are_you_sure') %>
        <%= link_to discipline_requirement.requirement.name, admin_requirement_path(discipline_requirement.requirement) %>
      </div>
    </div>
  <% end %>
</div>

<%= button_tag_open_modal new_admin_discipline_discipline_association_path(@discipline) do %>
  <i class="demo-icon icon-plus" aria-hidden="true"></i>
  <%= t_crud('add_new', DisciplineAssociation) %>
<% end %>
<div class='card-deck'>
  <% @discipline.discipline_associations.each do |discipline_association| %>
    <div class='card card--text mb-4'>
      <div class='card-body'>
        <%= button_to 'X', admin_discipline_association_path(discipline_association), class: 'btn btn-sm btn-outline-danger btn--no-padding px-1 edit-button', title: t_crud('delete', DisciplineAssociation), method: :delete, 'data-confirm': t('are_you_sure') %>
        <%= Discipline.human_enum_name :kind, discipline_association.kind %>
        <%= link_to discipline_association.associated.name, admin_discipline_path(discipline_association.associated) %>
      </div>
    </div>
  <% end %>
  |
  <% @discipline.inversed_discipline_associations.each do |discipline_association| %>
    <div class='card card--text mb-4'>
      <div class='card-body'>
        <%= button_to 'X', admin_discipline_association_path(discipline_association), class: 'btn btn-sm btn-outline-danger btn--no-padding px-1 edit-button', title: t_crud('delete', DisciplineAssociation), method: :delete, 'data-confirm': t('are_you_sure') %>
        <%= Discipline.human_enum_name :kind, discipline_association.kind %>
        <%= link_to discipline_association.discipline.name, admin_discipline_path(discipline_association.discipline) %>
      </div>
    </div>
  <% end %>
</div>
