<div id='remote-form'>
  <%= bootstrap_form_for @activity, url: @activity.new_record? ? admin_activities_path : admin_activity_path(@activity), remote: true, layout: :horizontal do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <div class='remote-form__actions'>
      <% unless @activity.new_record? %>
        <%= link_to admin_activity_path(@activity), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@activity.name), title: t_crud('delete', Activity) do %>
          <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
