<div id='remote-form'>
  <%= bootstrap_form_for @user, url: @user.new_record? ? admin_users_path : admin_user_path(@user), remote: true, layout: :horizontal do |f| %>
    <%= f.text_field :name %>
    <%= f.email_field :email %>
    <% if @user.new_record? %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <% end %>
    <div class='remote-form__actions'>
      <% unless @user.new_record? %>
        <%= link_to admin_user_path(@user), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@user.name), title: t_crud('delete', User) do %>
          <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
