<body>
  <% if current_user %>
    <div class='text-right pr-2'>
      <strong><%= current_user.email %></strong>
      <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
  <div class='text-center text-muted'>
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg', class: 'login-logo--max-width mx-auto p-2' %>
    <% end %>
    <h2 class='h6'><%= login_title %></h2>
  </div>
  <div class='container'>
    <div class='login-wrapper--max-width mx-auto'>
      <div class="<%= 'login--max-width mx-auto bg-white shadow p-4' unless controller_name == 'companies' %>">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/flash_notice_alert' %>
</body>
