<%# on responsive there are two different horizontal navigations, one for admin and one for non admin
  breakpoint is sm
%>
<%
  on_the_side ||= false
%>
<div class='bg-light <%= on_the_side ? 'd-none d-sm-inline-block navigation-on-the-side--min-width' : 'body__sticky-footer d-sm-none' %>'>
  <ul class='nav nav-pills <%= on_the_side ? 'flex-column ' : 'justify-content-around flex-nowrap ' %>'>
    <li class='nav-item flex-fill'>
      <%= link_to root_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'pages'}" do %>
        <div class='d-flex flex-column-reverse d-sm-inline-flex flex-sm-row align-items-center'>
          <i class='demo-icon icon-gauge mx-1' aria-hidden='true'></i>
          <span><%= t('dashboard') %></span>
        </div>
      <% end %>
    </li>
    <% if current_user&.superadmin? %>
      <li class='nav-item d-none d-sm-block'>
        <span class='text-success'>
          <%= t('admin_pages') %>
        </span>
      </li>
      <li class='nav-item d-none d-sm-block'>
        <%= link_to "<i class='demo-icon icon-gauge mx-1'></i>#{t('dashboard')}".html_safe, admin_dashboard_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/dashboard'}" %>
        <%= link_to "<i class='demo-icon icon-updown-circle mx-1'></i>#{Activity.model_name.human(count: 2)}".html_safe, admin_activities_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/activities'}" %>
        <%= link_to "<i class='demo-icon icon-road mx-1'></i>#{Discipline.model_name.human(count: 2)}".html_safe, admin_disciplines_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/disciplines'}" %>
        <%= link_to "<i class='demo-icon icon-bicycle mx-1'></i>#{Requirement.model_name.human(count: 2)}".html_safe, admin_requirements_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/requirements'}" %>
        <%= link_to "<i class='demo-icon icon-location-outline mx-1'></i>#{Venue.model_name.human(count: 2)}".html_safe, admin_venues_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/venues'}" %>
        <%= link_to "<i class='demo-icon icon-home-outline mx-1'></i>#{Club.model_name.human(count: 2)}".html_safe, admin_clubs_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/clubs'}" %>
        <%= link_to "<i class='demo-icon icon-megaphone mx-1'></i>#{Happening.model_name.human(count: 2)}".html_safe, admin_happenings_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/happenings'}" %>
        <%= link_to "<i class='demo-icon icon-users mx-1'></i>#{User.model_name.human(count: 2)}".html_safe, admin_users_path, class: "nav-link nav-link--no-padding rounded-0 #{'active' if params[:controller] == 'admin/users'}" %>
      </li>
    <% end %>
  </ul>
</div>
