<!DOCTYPE html>
<html>
  <head>
    <title>MoveResults</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if login_layout? %>
    <%= render 'layouts/login_layout' %>
  <% else %>
    <body>
      <ul class='nav'>
        <li class='nav-item px-1 dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <%= image_tag "flagpedia.net/#{locale}.png", class: 'flag--max-width', 'data-test': 'language-holder' %>
          </a>
          <div class="dropdown-menu dropdown-menu--without-min-width" aria-labelledby="navbarDropdown">
            <% I18n.available_locales.each do |locale| %>
              <%= link_to set_locale_path(locale: locale), 'data-turbolinks': false, class: 'dropdown-item' do %>
                <%= image_tag "flagpedia.net/#{locale}.png", class: 'flag--max-width' %>
                <%= t("language_name.#{locale}") %>
              <% end %>
            <% end %>
          </div>
        </li>
        <li class='nav-item px-1'>
          <% if current_user %>
            <strong><%= current_user.email %></strong>
            <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to t('my_devise.sign_in'), new_user_session_path %>
          <% end %>
        </li>
      </ul>
      <%= yield %>
      <%= render 'layouts/flash_notice_alert' %>
    </body>
  <% end %>
</html>
